/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.project-form {
  border: 10px solid #ccc;
  padding: 80px;
  border-radius: 40px;
  /*adjust the following parameters to make the window fill out more of the screen
    width generally makes everthing bigger, margin makes the spaces between elements bigger, 
    auto centers it vertically (first argument of margin) or horizontally (second argument of margin) 
  */
  width: 100%;
  height: 100%;
  margin: 0px 50%;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* In this button class one can change the font color of the +, -, and the "Start TSS Prediction" button*/
button {
  padding: 10px 20px;
  background-color: #14aa00;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-button {
  padding: 10px 20px;
  background-color: rgb(247, 247, 247);
  color: rgb(255, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /*aligns the remove button to the right side of the box*/
  
}

/*to put the remove button next to the corresponding paragraph (the line of the file thats being removed)
  we have to put them in a div together and then align the items of the div.  
  display: flex puts the items of the div in one row
  justify-content: space-between pushes the items on the right side (remove buttons) to the right of the 
  flex container (overviewOfFiles)
*/
.overviewOfFiles {
  display: flex;
  align-items: center;  
  justify-content: space-between;
}


.remove-button:hover {
  background-color: #888888;
}

button:hover {
  background-color: #888888;
}

.start-button {
  background-color: #28a745;
}

.start-button:hover {
  background-color: #1f7a33;
}

.condition {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.error {
  color: red;
}
