body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  border: 2px solid #ccc;
  padding: 80px;
  border-radius: 40px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-box {
  border: 2px solid #ccc;
  padding: 60px;
  border-radius: 40px;
  width: auto;  /* Wenn du möchtest, dass die Box nur so breit wie der Inhalt ist */
  margin: 10px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-not-started {
  color: gray;
}

.status-running {
  color: blue;
}

.status-finished {
  color: green;
}

.status-failed {
  color: red;
}

.refresh-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.download-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.download-button.finished {
  background-color: #4CAF50;
  color: white;
}

.download-button.unfinished {
  background-color: #f44336;
  color: white;
  cursor: not-allowed;
}

.view-condition-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.view-condition-button.finished {
  background-color: #4CAF50;
  color: white;
}

.view-condition-button.unfinished {
  background-color: #f44336;
  color: white;
  cursor: not-allowed;
}
