
.projects-container {
  border: 2px solid #ccc;
  padding: 80px;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  margin: 20px;

  align-items: center;
}

.project-box {
  border: 2px solid #ccc;
  padding: 60px;
  border-radius: 40px;
  width: 100% auto;
  margin: 10px auto;
}


.status-not-started {
    color: gray;
  }
  
  .status-running {
    color: blue;
  }
  
  .status-finished {
    color: green;
  }
  
  .status-failed {
    color: red;
  }
  