.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Trebuchet MS', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.visualization-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    
    margin-left: 70%;
    margin-right: -20%;
    
}

.visualization-content {
    max-width: 200%;
    width: 200%;
}

/* Styles for header with tooltip */
.header-with-tooltip {
  display: flex;
  align-items: center;
}

.tooltip {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  
  .tooltip-icon {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }
  
  .tooltip-text {
    visibility: hidden;
    background-color: #777; /* Slightly lighter background */
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    left: 30px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.85em;
    width: 300px; /* Set a wider width */
    white-space: normal; /* Allow text to wrap normally */
  }
  
  .tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #777 transparent transparent; /* Arrow with lighter background */
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
